.btn-submit{
    border:1px solid black;
    border-radius: 7%;
    margin-top:5%;
    margin-bottom:5%;
    font-weight: bold;
    background-color:skyblue;
}

.btn-submit:active{
    background-color:rgb(53, 191, 245);
}